//ALLOW/DISABLE SELECT TEXT

//disabled list
body {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    user-select: none; /* Standard syntax */
}

//allowed list
.allow-select {
    -webkit-user-select: auto; /* Safari */
    -moz-user-select: auto; /* Firefox */
    -ms-user-select: auto; /* Internet Explorer */
    user-select: auto; /* Standard syntax */
}

//active
.active {
    background: rgba(0, 0, 0, 1);
    color: white;
}
