//SHADOW
.boxs-red {
    color: rgba(255, 3, 3, 1);
}

.boxs-green {
    color: black;
}

//IMG
.cover {
    position: absolute;

    overflow: hidden;

    border-radius: 50%;

    height: 100%;
    width: 100%;

    object-fit: cover;
}

//DISABLED
.disabled-cursor {
    cursor: not-allowed !important;
}

.disabled-bg {
    background: #f2f3f5;
}

//CURSOR
.pointer-cursor {
    cursor: pointer;
}

//BG
.black-bg {
    background: black;
}

.bgOpacity {
    background: rgba(0, 0, 0, 0.4);
}


